@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-400.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-700.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
}

.visually-hidden {
    color: transparent;
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    width: 140px;
    padding: 8px 0 8px 0;
    background-color: #756157;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.button-big {
    font-size: 20px;
    line-height: 36px;
}

.button-blue {
    background-color: #82B3D3;
}


body {
    font-family: 'PT Sans', 'Arial', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #00000033;

    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 30px;
}

.navigation-menu {
    display: flex;
    align-items: center;
    margin-right: 285px;
}

.navigation-item {
    padding: 20px 16px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.navigation-menu-buttons {
    display: flex;
}

.loupe-button, .heart-button {
    cursor: pointer;
}

.loupe-button {
    margin-right: 24px;
    background-color: #fff;
    border: none;
}

.navigation-icon {
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.loupe-icon {
    background-image: url('../images/search.svg');
}

.heart-button {
    margin-right: 32px;
    background-color: #fff;
    border: none;
}

.heart-icon {
    background-image: url('../images/heart.svg');
}

.popup-button {
    width: 160px;
}

.page-main {
    flex: 1 1 auto;
}

.hero-background-image {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 485px;
    margin-bottom: 69px;
}

.welcome-image {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.hero-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 22px;
    line-height: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 69px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.about-item {
    display: flex;
}

.about-text {
    padding: 112px 85px;
    width: 230px;
    background-color: #83b3d31f;
}

.about-text-blue {
    padding: 102px 85px;
    background-color: #82b3d3;
    color: #fff;
}

.about-item:last-child .about-text {
    order: 1;
}

.about-text-middle {
    background-color: #83B3D333;
}

.about-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.about-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 0;
}

.features-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.feature-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 64px;
}

.features-list {
    display: flex;
    margin-bottom: 96px;
}

.feature-icon {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 76px;
    background-repeat: no-repeat;
}

.house-icon {
    background-image: url('../images/house-icon.svg');
}

.burger-icon {
    background-image: url('../images/burger-icon.svg');
}

.gift-icon {
    background-image: url('../images/gift-icon.svg')
}

.feature-item {
    padding: 81px 85px;
    background-color: #83B3D31F;
}

.feature-name {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.feature-item-middle {
    background-color: #fff;
}

.feature-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.search-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333;
}

.search-button {
    width: 376px;
    margin: 0 auto;
    margin-bottom: 96px;
}

.subscribe {
    background-image: url('../images/index-background.jpg');
    background-repeat: no-repeat;
    padding: 96px 0 104px 0;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.subscribe-text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-email-input {
    border-radius: 4px 0 0 4px;
    border: none;
    width: 452px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 24px;
}

.subscribe-email-input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 60%;
}

.subscribe-email-input:focus {
    outline: 0;
}

.subscribe-button {
    width: 232px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer-wrapper {
    display: flex;
    padding: 40px 70px 30px 70px;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    gap: 30px;
}

.social-link {
    text-decoration: none;
}

.social-icon {
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
    display: block;
}

.vk-icon {
    background-image: url('../images/vk.svg');
}

.tg-icon {
    background-image: url('../images/telegram.svg');
}

.youtube-icon {
    background-image: url('../images/youtube.svg');
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.htmlacademy-icon {
    background-image: url('../images/academy-logo.svg');
    background-repeat: no-repeat;
    display: block;
    width: 115px;
    height: 33px;
}

.catalog-search-title {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-name {
    font-size: 16px;
    line-height: 21px;
}

.search-form-title {
    font-size: 20px;
    line-height: 24px;
}

.checkbox-label {
    font-size: 18px;
    line-height: 23px;
}

.checklist-price-title {
    font-size: 20px;
    line-height: 24px;
}

.catalog-menu-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.price-filter-select {
    font-size: 18px;
    line-height: 21px;
}

.card-name {
    font-size: 24px;
    line-height: 28px;
}

.card-type, .card-min-price {
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

.rating {
    background-color: #f2f2f2;
    color: #333;
}
